@import "app";
@import "bootstrap/bootstrap";
@import "fontawesome/fontawesome";
@import "fontawesome/brands";
@import "fontawesome/light";
/*!
 * App Core Styles
*/
[data-load]{
	cursor:pointer;
}
.hero{
	background-position:top;
	object-fit: cover;
	clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
	height:40vh;
	position:fixed;
	width:100%;
	z-index:-1;
}
.card,
.table{
	margin-bottom:$spacer/2;
}
.card{
	display:block;
	padding:$spacer/2;
}
footer{
	color:$gray-600;
	background:$white;
	bottom:0;
	position:fixed;
	width: 100%;
	height:$footer-height;
	text-align:center;
	margin-left:0 !important;
	margin-right:0 !important;
	.col{
		color:$white;
		cursor: pointer;
		font-size:$spacer*1.5;
		height: 100%;
		padding:5px;
		&.active,
		&:hover{
			color:$primary !important;
		}
		i{
			display:block;
			font-size:$spacer*2;
		}
	}
}
header{
	padding:$spacer*6 $spacer $spacer*3;
	h1{
		color:$white;
	}
}
.hidden{
	display:none !important;
}
main{
	margin-bottom:$footer-height;
	padding:$spacer;
	.card,
	.list-group,
	.rank-number,
	.shadow{
		box-shadow:		$box-shadow;
		border-width:	0;
	}
}
.ranks{
	h3{
		margin-bottom:0;
	}
	.rank{
		position: relative;
		&-number{
			border-bottom-left-radius: $spacer/4;
			float:right;
			font-size:$spacer*1.75;
			position: absolute;
			right:0;
			text-align: center;
			top:0;
			width:42px;
		}
		&:nth-of-type(1){
			.rank-number{
				background-color:gold;
			}
		}
		&:nth-of-type(2){
			.rank-number{
				background-color:silver;
			}
		}
		&:nth-of-type(3){
			.rank-number{
				background-color:#cd7f32 ;
			}
		}
		.progress{
			border-radius: 0;
			bottom:0;
			height:$spacer/4;
			left:0;
			position: absolute;
			width:100%;
		}
	}
}