// Include core SCSS
@import "variables";
// Temp
.cols-md-2{
	column-count: 2;
}
// Root
.graphic{
	background-position: center;
	background-size: cover;
	// Bio
	&.athlete{
		background-image:url(../images/main/athlete.jpg);
	}
	// Altitude
	&.everest{
		background-image:url(../images/altitude/everest.png);
	}
	&.vesuvious{
		background-image:url(../images/altitude/vesuvius.jpg);
	}
	&.kilimanjaro{
		background-image:url(../images/altitude/kilimanjaro.jpg);
	}
	// Distance
	&.europe{
		background-image:url(../images/distance/europe.svg);
	}
	&.uk_width{
		background-image:url(../images/distance/uk.svg);
	}
}
h1{
	margin-bottom:0;
}
.index{
	overflow: hidden;
	h1{
		display:none;
	}
	h2{
		background:rgba(255,255,255,0.33);
		color:$orange;
		cursor:pointer;
		margin-bottom:0;
		padding:$spacer/2;
		text-align: center;
		@include transition();
	}
	section{
		flex:1 0 33%;
	}
	.sections{
		cursor:pointer;
		display:flex;
		flex-wrap: nowrap;
		height:calc(100vh - 46px);
		@include transition();
	}
}
.list{
	display:grid;
	grid-gap:$spacer;
	grid-template-columns:repeat(4,1fr);
	grid-auto-rows:100px;
	.item{
		background:rgba(#fff,.4);
		border-radius:$spacer/4;
		cursor:pointer;
		padding:$spacer/2;
		position:relative;
		&.first,
		&.second{
			h4{
				font-size:1em;
			}
			p{
				font-size:1em;
			}
		}
		&.first{
			background:rgba(#fff,1);
			font-size:$spacer*3;
			grid-column:1/3;
			grid-row:1/4;
		}
		&.second{
			background: rgba(#fff,0.8);
			font-size:$spacer*2;
			grid-column:3/5;
			grid-row:1/3;
		}
		&.third{
			background: rgba(#fff,0.6);
			grid-column:3/5;
			grid-row:3/4;
		}
		p{
			margin-bottom:0;
		}
		.progress{
			border-top-left-radius:0;
			border-top-right-radius:0;
			bottom:0;
			height:$spacer/4;
			left:0;
			position: absolute;
			right:0;
		}
	}
}
main,
section{
	background-size: cover;
	&.add-rank{
		background-image: url(../images/nav/add.jpg);
	}
	&.athletes{
		background-image: url(../images/nav/athlete.jpg);
	}
	&.clubs{
		background-image: url(../images/nav/club.jpg);
	}
	&.community{
		background-image: url(../images/nav/community.jpg);
	}
	&.locations{
		background-image: url(../images/nav/location.jpg);
	}
	&.login{
		background-image: url(../images/nav/login.jpg);
	}
}
main{
	cursor:default;
	margin-top:44px;
	min-height:calc(100vh - 48px);
	&:not(.index):not(.athlete){
		padding:$spacer;
		overflow: auto;
		header{
			padding:$spacer/2;
		}
	}
	&.athlete{
		.progress{
			border-radius:0;
			height:$spacer/4;
		}
		section{
			border-top:1px solid $orange;
			display:flex;
			flex-wrap:nowrap;
			max-height:calc(100vh - 48px);
			min-height:300px;
			overflow:hidden;
			> :first-child{
				padding:$spacer;
			}
			> .full{
				flex:0 0 100%;
				max-width:100%;
			}
			> .graphic,
			> .story{
				flex:0 0 50%;
				max-width:50%;
			}
		}
	}
	section{
		background-position: center top;
	}
}
.navbar{
	padding:0;
	&-light{
		.navbar{
			&-brand,
			&-nav .nav-link.active{
				color:$orange;
			}
			&-brand{
				&:hover{
					color:$orange;
				}
			}
		}
	}
	&-brand{
		padding:$spacer/2 $spacer;
	}
	&-toggler{
		svg{
			width: $spacer;
			path{
				fill:$orange;
			}
		}
	}
	.nav-link{
		padding:$spacer*.75 !important;
	}
}
.rank{
	break-inside: avoid-column;
}
#svg-road{
	height:calc(100vh - 48px);
	left:100px;
	margin:auto;
	position: fixed;
	right:0;
	path{
		stroke:$orange;
	}
}
table{
	&.ranks{
		.me{
			background-color:$orange;
			color:#fff;
		}
	}
	thead{
		th{
			color:$gray-900;
		}
	}
}