// Include core SCSS
@import "variables";
$nav:	6vh;
$main:	100vh - $nav;
body{
	overflow:hidden;
}
.list{
	.item{
		background:rgba(#fff,.4);
		border-radius:$spacer/4;
		margin-bottom:$spacer/2;
		padding:$spacer;
		&.first{
			background:rgba(#fff,1);
			h4{
				font-size:$spacer*1.8;
			}
			p{
				font-size:$spacer*1.3;
			}
		}
		&.second{
			background: rgba(#fff,0.8);
			h4{
				font-size:$spacer*1.7;
			}
			p{
				font-size:$spacer*1.2;
			}
		}
		&.third{
			background: rgba(#fff,0.6);
			h4{
				font-size:$spacer*1.6;
			}
			p{
				font-size:$spacer*1.1;
			}
		}
		p{
			margin-bottom:0;
		}
	}
}
main{
	cursor:default;
	&:not(.home){
		padding:$spacer;
		overflow: auto;
	}
	&.home{
		h1{
			display:none;
		}
		h2{
			background:rgba(255,255,255,0.33);
			color:$primary;
			cursor:pointer;
			margin-bottom:0;
			padding:$spacer/2;
			text-align: center;
			@include transition();
		}
	}
}
main,
section{
	background-position: center top;
	background-size: cover;
	&.add-rank{
		background-image: url(../images/nav/add.jpg);
	}
	&.athletes{
		background-image: url(../images/nav/athlete.jpg);
	}
	&.clubs{
		background-image: url(../images/nav/club.jpg);
	}
	&.community{
		background-image: url(../images/nav/community.jpg);
	}
	&.locations{
		background-image: url(../images/nav/location.jpg);
	}
	&.login{
		background-image: url(../images/nav/login.jpg);
	}
}
.navbar{
	padding:0;
	&-brand{
		padding:$spacer/2 $spacer;
	}
	&-light{
		.navbar{
			&-brand,
			&-nav .nav-link.active{
				color:$primary;
			}
		}
	}
	.nav-link{
		padding:$spacer/2 0;
	}
}
.sections{
	cursor:pointer;
	display:grid;
	grid-template-columns: 1fr 1fr 1fr;
	height:$main;
	@include transition();
}
table{
	&.ranks{
		.me{
			background-color:$primary;
			color:#fff;
		}
	}
	thead{
		th{
			color:$gray-900;
		}
	}
}