<div class="card">
	<h2>Biography</h2>
	<p>Hi, my name's <strong data-athlete="first_name"></strong>, you'll find me as <strong data-athlete="username"></strong> on My Strava Rank. I first joined Strava on the <strong data-athlete="strava_join"></strong> and since then have recorded <strong><span data-athlete="activity_count"></span> activities</strong> that have taken me over <strong><span data-athlete="activity_hours"></span> hours</strong> to achieve distances of over <strong><span data-athlete="activity_miles"></span> miles</strong>, heights of over <strong><span data-athlete="activity_height"></span> miles</strong>.</p>
	<p>I joined My Strava Rank <strong data-athlete="msr_join_later"></strong> later on the <strong data-athlete="msr_join"></strong> and have since amassed <strong><span data-athlete="athlete_points"></span> points</strong> which has gotten me to <strong>rank <span data-athlete="athlete_rank"></span></strong>.</p>
	<p>My favourite Strava sporting activity is <strong data-athlete="athlete_favourite_activity"></strong>, as I've recorded them <strong data-athlete="athlete_favourite_count"></strong> times.</p>
</div>
<div class="card">
	<h2>Distance</h2>
	<p>Since I first joined Strava on the <strong data-athlete="strava_join"></strong> I've travelled over <strong><span data-athlete="distance_total_miles"></span> miles</strong>. I'm currently travelling the equivalent of <strong data-athlete="distance_equivalent"></strong> and I'm over <strong><span data-athlete="distance_complete"></span>%</strong> of the way there.</p>
</div>