<div class="card">
	<h2>Biography</h2>
	<p>Hi, my name's <strong data-athlete="first_name"></strong>, you'll find me as <strong data-athlete="username"></strong> on My Strava Rank. I first joined Strava on the <strong data-athlete="strava_join"></strong> and since then have recorded <strong data-athlete="activity_count"></strong> that have taken me over <strong data-athlete="activity_hours"> hours</strong> to achieve distances of over <strong><span data-athlete="activity_miles"></span> miles</strong> and heights of over <strong data-athlete="activity_height"></strong>.</p>
	<p>I joined My Strava Rank <strong data-athlete="msr_join_later"></strong> later on the <strong data-athlete="msr_join"></strong> and have since amassed <strong data-athlete="athlete_points"></strong> which has gotten me to <strong>rank <span data-athlete="athlete_rank"></span></strong>.</p>
	<p>My favourite Strava sporting activity is <strong data-athlete="athlete_favourite_activity"></strong>, as I've recorded <strong data-athlete="athlete_favourite_count"></strong> of them.</p>
</div>
<div class="card">
	<h2>Distance</h2>
	<p>Since I first joined Strava on the <strong data-athlete="strava_join"></strong> I've travelled over <strong data-athlete="activity_miles"></strong>. I'm currently travelling the equivalent of <strong data-athlete="distance_equivalent"></strong> and I'm over <strong><span data-athlete="distance_complete"></span>%</strong> of the way there.</p>
</div>
<div class="card">
	<h2>Altitude</h2>
	<p>Since I first joined Strava on the <strong data-athlete="strava_join"></strong> I've ascended over <strong data-athlete="activity_altitude"></strong>. I'm currently ascending the equivalent of <strong data-athlete="altitude_equivalent"></strong> and I'm over <strong><span data-athlete="altitude_complete"></span>%</strong> of the way there.</p>
</div>
<div class="card">
	<h2>Clubs</h2>
	<p>Since I first joined Strava on the <strong data-athlete="strava_join"></strong> I've joined <strong data-athlete="athlete_club_count"></strong>.</p>
</div>