$box-shadow:			0 1px 6px 0 rgba(0,0,0,.2);
$breadcrumb-active-color:#fff;
$breadcrumb-bg:			initial;
$breadcrumb-margin-bottom:0;
$breadcrumb-padding-x:	0;
$breadcrumb-padding-y:	0;
$fa-font-path:			'../fonts';
$footer-height:			45px;
$modal-content-bg:		#021F59;
$modal-header-border-color:	#FFB00D;
$modal-footer-border-color:	$modal-header-border-color;
$primary:				#FC4C02;